html, body {
    background-color: rgba(5, 10, 16, 1);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh; /* Set the height of the grid container to the full viewport height */
  width: 100vw;
}
.image {
  overflow: hidden; /* Hide any overflow from the image */
  border: 5px solid #330000;
  position: relative;
}
img {
  width: 100%; /* Set the width of the image to 100% of its container */
  display: block; /* Remove any default margin or padding from the image */
}


button:hover {
  background-color: #4D5D53;
  color: white;
}
a {
text-decoration: none;
color: #000000
}
.btn {
  cursor: pointer;
  background-color: gray;
  opacity: 0.5;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid #3498db;
  border-color:gray;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}