body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    display:inline-flex;
    width:100%;
    margin:0;
}

.login-form {
    width: 40%;
    padding: 10px 5% 0 5%;
    background-color: #FFFFFF;
}
.img-div{
    width:50%;
}

.login-form h1 {
    text-align: center;
    margin-top:20px;
    margin-bottom: 50px;
}
.login-form .form-group {
    position: relative;
    margin-bottom: 20px;
}
.login-form .form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin-top:3.5px;
}
.login-form .form-control:focus {
    z-index: 2;
}
.login-form .form-group i {
    position: absolute;
    top: 29px;
    right: 10px;
    font-size: 18px;
    color: #ccc;
}
.login-form .form-group label{
    font-size: 14px;
    font-weight:500;
}
.login-form .btn {
    display: block;
    margin:auto;
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #29384A;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.login-form .btn:hover {
    background-color: #45a049;
}
img{
    width: 100%;
}
.login-form .logo-div{
    width:100%;
    display:block;
}

.login-form .logo-div img{
    display: block;
    height:auto;
    width:40%;
    margin: auto;
}
.login-form .no-account{
    font-size: 15px;
    font-weight:500;
    text-align: center;
    color: #4D5959;
}

.login-form p a{
    text-decoration: none;
}