{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{url_for('static', filename='css/sign_up.css')}}">

<title>Sign Up</title>
{% endblock %}

{% block body %}

    <div class="img-div">
        <img src="{{url_for('static', filename='images/sign_up.png')}}">
    </div>

    <div class="signup-form">
        
        <div class="logo-div">
            <img src="{{url_for('static', filename='images/logo.png')}}" align="right">
        </div>

        <h1 class="title" >Welcome to Time Seekers</h1>
        <form method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" class="form-control" name="username" placeholder="Enter your Username here"
                       pattern="[a-zA-Z0-9_]+" required maxlength="20">
                <i class="fa fa-user"></i>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  placeholder="Enter your Email here"
                       required="required" type="email" maxlength="70">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" name="password" placeholder="Enter your Password here" required="required" minlength="8" maxlength="20">
                <i class="fa fa-lock"></i>
            </div>
             {% if error %}
                <p class="error"> {{error}}</p>
            {% endif %}
            <div class="form-group">
                <input type="submit" class="btn" value="Create Account" align="center">
            </div>
        </form>

        <p class="already-have-account">
            Already have an account? <a href="/login" >Log in</a>
        </p>
    </div>

{% endblock %}